@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--bg-color);
  font-weight: 400;
  font-size: 14px;
  color: var(--text-primary);
}

input {
  display: block;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
}

ul,
li {
  list-style: none;
}
