:root {
  --bg-color: #13131a;

  // Text
  --text-primary: #fafafa;
  --text-secondary: #7f7f98;
  --text-secondary-light: #bfbfd4;
  --text-accent: #8fb2f5;

  // Input
  --input-bg-color: #1e1e29;
  --input-placeholder: #7f7f98;
}
