:root {
  --bg-color: #13131a;

  // Text
  --text-primary: #fafafa;
  --text-secondary: #7f7f98;
  --text-secondary-light: #bfbfd4;
  --text-accent: #8fb2f5;

  // Input
  --input-bg-color: #1e1e29;
  --input-placeholder: #7f7f98;

  // City List
  --city-list-item-border-color: #1e1e29;
  --city-list-item-bg-color: #3b3b54;
  --city-list-item-bg-color-light: #51519a;

  // Card
  --card-bg-color: #16161f;

  // Button
  --button-bg-color: #1e1e29;
  --button-bg-color-light: #383854;
}
